
h1 {
    text-align: center;
}

ol {
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
    counter-reset: todo-item;
    /* border: 1px solid red; */
}

li {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    border-bottom: 1px solid grey;;
}

li::before {
    counter-increment: todo-item;
    content: "Item "counter(todo-item) ". ";
    font-size: x-large;
    font-weight: bolder;
    margin-right: 8px;
    margin-left: 10%;
}

button {
    margin-left: 8px;
}
