

h1 {
    width: 60%;
    margin: 40px auto 15px;
    text-align: center;
    /* border: 1px solid green; */
}

ol {
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    counter-reset: todo-item;
    /* border: 1px solid red; */
}

li {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid blue; */
    border-bottom: 1px solid grey;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    font-size: xx-large;
    color: rgb(199, 124, 32);
}

li::before {
    counter-increment: todo-item;
    content: "Item "counter(todo-item) ". ";
    font-size: x-large;
    font-weight: bolder;
    margin-right: 8px;
    margin-left: 20%;
}

button {
    margin-left: 8px;
    background-color: blanchedalmond;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 0px 2px 1px  black inset;
}

button:hover {
    background-color: rgb(199, 124, 32);
    color: white;
    font-size: large;
    border: 1px dotted white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px  white inset;
    padding: 8px;
}
